section.aboutus {
  background-image: url('../../images/general/background.svg');
  padding: 3rem 0;
  height: 80vh;
  display: flex;
  align-items: center;
}

.aboutus-wrapper {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}

.aboutus .title {
  width: 70%;
  margin: auto;
}

.aboutus .title h1 {
  color: #ffffff;
  font-size: 38px;
  text-align: center;
  font-weight: bolder;
  margin-top: 0;
}

.aboutus .functions {
  grid-row-start: 2;
  text-align: center;
}

.aboutus .functions h4 {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 993px) {
  .aboutus .title h1 {
    font-size: 30px;
  }

  .aboutus .functions h4 {
    font-size: 18px;
  }
}

@media (max-width: 601px) {
  section.aboutus {
    height: 100%;
  }

  .aboutus-wrapper {
    grid-template-rows: repeat(3, 1fr);
  }

  .aboutus .functions {
    grid-column-start: 2;
    grid-row-start: auto;
  }

  .aboutus .title {
    width: 100%;
  }

  .aboutus .title h1 {
    font-size: 25px;
  }

}
