.Directive-post-div {
    display: flex;
    align-items: center;
}

.Directive-post-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    position: relative;
    transform: translateX(4px);
}

.Directive-post-img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.Directive-post {
    width: 100%;
    max-width: 200px;
    padding: 2rem;
    background-color: #062325;
    box-shadow: 0 1.4rem 8rem rbga(0, 0, 0, .2);
    display: flex;
    align-items: center;
}

.Directive-post-info {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

.Directive-post-title {
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #ADF11C;
}

.Directive-post-text {
    color: white;
}

.Directive-post-date {
    color: #ADF11C;
}