.csec.navbar-fixed {
	height: 10vh;
	background-color: black;
	display: flex;
	align-items: center;
}

.csec.nav-wrapper {
	margin: 0 2rem;
}

.csec.nav-wrapper li a {
	font-size: 1.3rem;
}

.csec.nav-wrapper .hide-on-med-and-down li:last-child a{
	padding-right: 0;
}

.csec.nav-wrapper .sidenav-trigger i {
	line-height: 10vh;
}

.iconSize{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: .2rem;
}

.csec.navbar-fixed nav{
	background-color: black;
	line-height: 10vh;
	height: 10vh;
}

/* Edit hamburger menu*/
.csec .sidenav {
	background-color: #000000;
	border-right: 1px solid #ffffff	;
}

.csec .sidenav li {
	padding: 0 1.2rem;
}

.csec .sidenav li a {
	color: #ffffff;
	padding: 0;
}

.sidenav-overlay {
	opacity: 0;
	left: 20px;
	z-index: 0;
}

@media only screen and (max-width: 992px) {
	.csec .brand-logo {
		left: 0;
    transform: translateX(0);
    left: 2.3rem;
	}
	
	.csec .sidenav-trigger {
		margin-right: 0;
	}
}

@media only screen and (max-width: 600px) {
	.csec.nav-wrapper {
		margin: 0 1rem;
	}

	.csec .brand-logo {
		font-size: 1.4rem;
		left: 1.7rem;
	}

	.iconSize {
		width: 20px;
		height: 20px;
	}
}