.csec.nav-wrapper .selected {
  background: #127675;
}
.csec.navbar-fixed {
	height: 10vh;
	background-color: black;
	display: flex;
	align-items: center;
}

.csec.nav-wrapper li a {
	font-size: 1.2rem;
}

.csec.nav-wrapper .sidenav-trigger i {
	line-height: 10vh;
}

.csec .brand-logo {
	font-size: 2rem;
}

.iconSize{
	width: 30px;
	height: 30px;
	vertical-align: middle;
	margin-right: .2rem;
}

.csec.navbar-fixed nav{
	background-color: black;
	line-height: 10vh;
	height: 10vh;
}

.ham-menu {
	float: right;
  display: none;
  font-size:"20px";
  cursor:"pointer";
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-x: hidden;
  transition: 0.1s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.1s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 40px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

@media (max-width: 1223px) {
  .navbar .container {
    width: 90%;
  }
}

@media (max-width: 993px) {
	.ham-menu {
		display: inline-flex;
	}

	.csec .brand-logo {
		left: 0;
    transform: translateX(0);
    left: 2.3rem;
	}
	
	.csec .sidenav-trigger {
		margin-right: 0;
	}
}

@media (max-width: 601px) {
	.csec .brand-logo {
		font-size: 1.4rem;
		left: 1.7rem;
	}

	.iconSize {
		width: 20px;
		height: 20px;
	}
}