section.teams {
  display: flex;
  justify-content: center;
  padding: 3rem 0;
  background-image: url('../../images/background/background.svg');
}


.teams-wrapper {
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 50px;
}

.team-item {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

@media (max-width: 1223px) {
  .teams .container {
    width: 90%;
  }
}

@media (max-width: 993px) {
  .teams .container {
    width: 80%;
  }

  .teams-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}