.team-post-div {
  display: flex;
  align-items: center;
}

.team-post-img {
  object-fit: cover;
  display: flex;
  align-items: center;
  position: relative;
  margin-right: -35px;
}

.team-post-img img {
  width: 132px;
}

.team-post {
  width: 100%;
  max-width: 330px;
  padding: 1rem 3rem;
  background-color: #274A4B;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.team-post-info {
  text-align: center;
}

.team-post-title {
  margin: 1rem 0 1.3rem;
  color: #32B6B1;
  font-size: 28px;
}

.team-post-text {
  color: white;
  margin-bottom: 2rem;
}

.team-post-date {
  color: #32B6B1;
}

@media (min-width: 1200px) {
  .team-post-img {
    margin-right: -40px;
  }
}

@media (max-width: 600px) {
  .team-post {
    padding: .8rem 1rem .8rem 2rem;
    max-width: 285px;
  }

  .team-post-img img {
    width: 80px;
  }

  .team-post-title {
    font-size: 20px;
    margin-bottom: .5rem;
  }

  .team-post-text {
    font-size: 13px;
    margin-bottom: .5rem;
  }

  .team-post-date {
    font-size: 12px;
  }

  .team-post-img {
    margin-right: -95px;
    width: 70%;
  }
}