.csec.page-footer {
	height: 10vh;
	padding: 0;
	background-color: rgb(0, 0, 0);
	display: flex;
	align-items: center;
	position: absolute;
	width: 100%;
	bottom: 0;
}

.csec .footer-copyright {
	width: 100%;
	margin: 0 2rem;
	display: flex;
	justify-content: space-between;
}

.csec .footer-copyright h6 {
	font-size: 15px;
}

.csec .footer-text {
	margin: 0;
}

.csec.page-footer .sm-contact, .csec.page-footer .sm-contact a {
	display: inline-flex;
	align-items: center;
}

.csec.page-footer .sm-contact a:first-child {
	margin-right: 1rem;
}

@media (max-width: 1223px) {
  footer .container {
    width: 90%;
  }
}

@media (max-width: 993px) {
	.csec.page-footer .sm-contact img {
		width: 20px;
		height: 20px;
	}
}

@media (max-width: 601px) {
	.csec .footer-copyright {
		margin: 0 1rem;
	}

	.csec .footer-copyright h6 {
		font-size: 13px;
	}

	.csec.page-footer .sm-contact img {
		width: 18px;
		height: 18px;
	}
}