@import url('https://fonts.googleapis.com/css?family=Fira+Code');

body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  padding-bottom: 10vh;
}